:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
}
.ql-toolbar.ql-snow {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.ql-container.ql-snow {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}